<%- include('../partials/header') %>

    <h1>My Skills</h1>
    <ul>
        <% skills.forEach(function(skill){ %>
            <li>
                <form action="/skills/<%= skill.id %>?_method=DELETE"
                    method="POST" class="delete-form">
                   <button type="submit">X</button>
                 </form>
                <a href="/skills/<%= skill.id %>"><%= skill.skill %></a>
            </li>
        <% }); %>
    </ul>
    <a href="/skills/new">Add a Skill</a>


<%- include('../partials/footer') %>